.drink{
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    h3{
        transition: 0.3s;
    }
    &:hover{
        h3{
            color: var(--main-color);
        }
        span{
            color: var(--main-color);
        }
    }
    img{
        width: 150px;
        height: 150px;
    }
}