.tables{
    padding: 100px 0;
    background-color: var(--background-color);
    h1{
        font-family: var(--font-style);
        color: var(--main-color);
    }
    .table{
        th{
            background-color: var(--main-color);
        }
        td{
            background-color: var(--background-color) ;
        }
        i{
            cursor: pointer;
        }
    }
}