.brief{
    background-color: var(--background-color);
    padding-top: 250px;
    .container{
        .d-flex{
            .text{
                max-width: 850px;
                h3{
                    font-family: var(--font-style);
                    color: var(--main-color);
                }
            }
            .image{
                position: relative;
                background-image: url("../../../public/images/shadow.png");
                background-repeat: no-repeat;
                background-position-y: 165px;
                img{
                    border-radius: 50%;
                    border: 10px solid var(--first-default-color);
                    position: relative;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .brief{
        .container{
            .d-flex{
                .image{
                    display: none;
                }
            }
        }
    }
}