.footer {
  padding: 40px 0;
  background-color: var(--footer-background-color);
}
.footer ul {
  list-style-type: none;
}
.footer ul li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer ul li a:hover {
  color: var(--main-color);
}
.footer ul li .active {
  color: var(--main-color);
}
.footer .link {
  background-color: var(--btn-background-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer .link:hover {
  background-color: var(--main-color);
}