.title-text {
  padding: 40px 0;
  background-color: var(--background-color);
}
.title-text .container {
  position: relative;
}
.title-text .container .details {
  margin-right: 20px;
}
.title-text .container .details h3 {
  color: var(--main-color);
  font-family: var(--font-style);
  margin-top: 25px;
  margin-left: 5px;
}
.title-text .container .line {
  background-color: var(--main-color);
  width: 75%;
  height: 1px;
  margin-top: 45px;
}

@media (max-width: 992px) {
  .title-text .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title-text .container .line {
    width: 100%;
    margin-top: 10px;
  }
}